{% extends "card.html" %}

{% block card_title %}<i class="bi bi-device-hdd-fill"></i> {{ _("Disk") }} {{ idx }} <span title="{{ disk.status }}" class="float-end">{{ disk.status | disk_charm }}</span>{% endblock %}

{% block card_content %}

<h3>{{ disk.model }}</h3>
<h4>{{ disk.serial }}</h4>
<h4>{{ disk.size | human_readable_bytes }}</h4>
<h4>{{ disk.path }}</h4>

{% if disk.status.value == -2 %}
<form action="{{ url_for('main.replace_disk') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div class="row g-1">
    <div class="col-12">
        <button class="btn btn-warning w-100" type="submit" name="disk" value="{{ disk.physical_paths[0] }}">{{ _("Replace") }}</button>
    </div>
</div>
</form>
{% elif disk.status.value == 1 %}
    <form action="{{ url_for('main.smart_disk') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div class="row g-1">
    <div class="col-12">
        <button class="btn btn-info w-100" type="submit" name="disk" value="{{ disk.path }}"><i class="bi bi-device-hdd-fill"></i>
            {{ _("Check disk health") }}</button>
    </div>
</div>
</form>
{% endif %}
{% endblock %}


