{% extends "card.html" %}

{% block card_title %}<i class="bi bi-link-45deg"></i> {{ _("Network") }}{% endblock %}

{% block card_content %}

{% if ifaces %}
<div class="accordion" id="accordion-iface-list">
  {% for iface in ifaces %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#iface-{{ iface.name }}" aria-expanded="true" aria-controls="iface-{{ iface.name }}">
       <div class="d-flex w-100 align-items-center">
            <span>{{ iface.name }}</span>

            <span class="ms-auto me-3">
              {{ iface.enabled | enabled_fmt | safe }}
            </span>
          </div>
      </button>
    </h2>

    <div id="iface-{{ iface.name }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ iface.name }}">
      <div class="accordion-body">
        <ul class="list-unstyled ps-3">
          {% if iface.network_name %}<li><span class="fw-bold">{{ _("Network") }}:</span> {{ iface.network_name }} </li>{% endif %}
          {% set iface_name = iface.name %}
          {% if iface.ipv4 %}
            <li><span class="fw-bold">{{ _("IPv4 Address") }}:</span>
              {% set ip = iface.ipv4 %}
              {% include 'iface.ip_summary.html' %}

            </li>
          {% endif %}
          {% if iface.ipv6 %}
          <li><span class="fw-bold">{{ _("IPv6 Address") }}:</span>
              {% set ip = iface.ipv6 %}
              {% include 'iface.ip_summary.html' %}

            </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}


  <script nonce="{{ csp_nonce }}">
    GlobalRefresher.register("{{ card_id }}","{{ url_for('main.async_widget_network_overview') }}");
  </script>


{% endblock %}


