{% extends "card.html" %}

{% block card_title %}{{ _("Create New Array") }}{% endblock %}

{% block card_content %}

<form action="{{ url_for('main.new_pool') }}" method="POST" class="ps-3 pe-3 disable-on-submit">
    {{ new_pool_form.hidden_tag() }}

    <div class="row align-items-center mb-3">
      <div class="col-auto form-check form-switch">
          {{ new_pool_form.redundancy(class="form-check-input") }}
       </div>
      <div class="col">
          {{ new_pool_form.redundancy.label(class="form-check-label") }}
      </div>
      <div class="col-auto">
        <span
          class="d-inline-block bg-dark text-white rounded-circle text-center ms-3 help"
          data-bs-toggle="tooltip"
          title="{{ _("Protects data by distributing it across multiple disks with RAIDZ1 parity, allowing recovery if a single disk fails. It requires a minimum of 3 disks") }}"
        >
          ?
        </span>
      </div>
  </div>

   <div class="row align-items-center mb-3">
      <div class="col-auto form-check form-switch">
          {{ new_pool_form.encryption(class="form-check-input") }}
       </div>
      <div class="col">
        {{ new_pool_form.encryption.label(class="form-check-label") }}
      </div>
      <div class="col-auto">
        <span
          class="d-inline-block bg-dark text-white rounded-circle text-center ms-3 help"
          data-bs-toggle="tooltip"
          title="{{ _("Secures data by encoding it so only authorised users with the key can access the information stored on your array.") }}"
        >
          ?
        </span>
      </div>
  </div>

  <div class="row align-items-center mb-3">
      <div class="col-auto form-check form-switch">
        {{ new_pool_form.compression(class="form-check-input") }}
       </div>
      <div class="col">
          {{ new_pool_form.compression.label(class="form-check-label") }}
      </div>
      <div class="col-auto">
        <span
          class="d-inline-block bg-dark text-white rounded-circle text-center ms-3 help"
          data-bs-toggle="tooltip"
          title="{{ _("Reduces storage space by automatically compressing data before writing it to disk, saving disk space.") }}"
        >
          ?
        </span>
      </div>
  </div>

    <div class="mt-4 mb-4">
        <div class="accordion" id="advanced_options">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#advanced" aria-expanded="true" aria-controls="advanced">
                        {{ _('Advanced Options') }}
                    </button>
                </h2>
                <div id="advanced" class="accordion-collapse collapse" data-bs-parent="#advanced">
                    <div class="accordion-body">
                        <div class="mb-3 row">
                          <div class="col-sm-6 col-form-label">{{ new_pool_form.pool_name.label }}</div>
                          <div class="col-sm-6">
                            {{ new_pool_form.pool_name(class="form-control") }}
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <div class="col-sm-6 col-form-label">{{ new_pool_form.dataset_name.label }}</div>
                          <div class="col-sm-6">
                            {{ new_pool_form.dataset_name(class="form-control") }}
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <div class="col-sm-6 col-form-label">{{ new_pool_form.disks.label }}</div>
                          <div class="col-sm-6">
                              {{ new_pool_form.disks() }}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <button type="submit" class="btn btn-info w-100">{{ _("Create Array") }}</button>
</form>



{% endblock %}


