{% extends "card.html" %}

{% block card_title %}<i class="bi bi-sign-turn-slight-left-fill"></i> {{ _("Dynamic DNS") }}{% endblock %}

{% block card_content %}
{% if ddns_providers %}
    <div class="accordion" id="accordion-ddns">
    {% for name,properties in ddns_providers.items() %}
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ddns-{{ name }}" aria-expanded="true" aria-controls="ddns-{{ name }}">
               <div class="d-flex w-100 align-items-center">
                    <span>{{ properties.ui_name }}</span>

                    <span class="ms-auto me-3">
                      {{ properties.enabled | enabled_fmt | safe }}
                    </span>
                  </div>
              </button>
            </h2>

            <div id="ddns-{{ name }}" class="accordion-collapse collapse" data-bs-parent="#accordion-ddns">
              <div class="accordion-body">
                  <div class="mb-3 row">
                      <div class="col-6">{{ _("Last Update") }}</div>
                      <div class="col-6">{{ properties.last_update if properties.last_update is not none else _("Never") }}</div>
                  </div>

                  {% if properties.next_update %}

                  <div class="mb-3 row">
                      <div class="col-6">{{ _("Next Update") }}</div>
                      <div class="col-6">{{ properties.next_update }}</div>
                  </div>

                  {% endif %}

                  {% include [
                    "form.ddns." ~ name ~".html",
                    "form.ddns.html",
                  ]%}


              </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}


