{% extends "card.html" %}

{% block card_title %}WEB <span class="float-end">{{ enabled | enabled_fmt | safe }}</span>{% endblock %}

{% block card_content %}

<form action="{{ url_for('main.change_access_settings',service='web') }}" method="POST" class="disable-on-submit">
    {{ form.hidden_tag() }}

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.port.label }}</div>
      <div class="col-sm-8">
        {{ form.port(class="form-control",readonly=enabled) }}
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.authentication.label }}</div>
      <div class="col-sm-8">
          <div class="form-check form-switch">
            {{ form.authentication( class="form-check-input",type="checkbox",role="switch",disabled=enabled) }}
          </div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.username.label }}</div>
      <div class="col-sm-8">
        {{ form.username(class="form-control",readonly=enabled) }}
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.password.label }}</div>
      <div class="col-sm-8">
        {{ form.password(class="form-control",readonly=enabled) }}
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.confirm_password.label }}</div>
      <div class="col-sm-8">
        {{ form.confirm_password(class="form-control",readonly=enabled) }}
      </div>
    </div>

        {% if enabled %}
    <div class="row g-1">
        <div class="col-12">
            <button class="btn btn-danger w-100" type="submit" name="action" value="disable">{{ _("Disable") }}</button>
        </div>
    </div>
    {% else %}
      <div class="row g-1">
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit" name="action" value="enable" {{ "" if mountpoint else "disabled" }}>{{ _("Enable") }}</button>
        </div>
    </div>
    {% endif %}
</form>

<div class="mt-4">
    <h4>{{  _("Connecting using %(service)s",service="WEB") }}</h4>

    <ol>
        <li>{{ _("Using this browser, go to %(st_code)shttp://IP:%(port)i%(e_code)s. Replace %(st_code)sIP%(e_code)s with the IP address/hostname of this NAS (you can find in the Network tab).",port=form.port.data,st_code="<code>"|safe,e_code="</code>"|safe) }}</li>
        <li>{{ _("If using authentication, the default password is %(st_code)safk%(e_code)s (if not changed).",st_code="<code>"|safe,e_code="</code>"|safe) }}</li>
    </ol>

</div>

<script nonce="{{ csp_nonce }}">
    function toggleInputs() {
      const isChecked = document.getElementById('webserviceform_authentication').checked;
      document.getElementById('webserviceform_username').disabled = !isChecked;
      document.getElementById('webserviceform_password').disabled = !isChecked;
      document.getElementById('webserviceform_confirm_password').disabled = !isChecked;
    }

    // Run on page load
    window.addEventListener('DOMContentLoaded', toggleInputs);

    // Run on checkbox change
    document.getElementById('webserviceform_authentication').addEventListener('change', toggleInputs);
  </script>
{% endblock %}


