{% extends "card.html" %}

{% block card_title %}
{{ iface.network_name }}
    <form method="POST" class="float-end" action=" {{ url_for('main.iface_change_status',iface=iface.name,action='down' if iface.enabled else 'up') }}">
        {{ enabler_form.hidden_tag() }}
        <span class="form-check form-switch">
            {{ enabler_form.iface_enabler(class="form-check-input auto-submit-switch") }}
        </span>
    </form>
{% endblock %}

{% block card_content %}

<form action="{{ url_for('main.change_access_settings',service='web') }}" method="POST" class="disable-on-submit">

{% endblock %}


