{% extends "card.html" %}

{% block card_title %}FTP <span class="float-end">{{ enabled | enabled_fmt | safe }}</span>{% endblock %}

{% block card_content %}

<form action="{{ url_for('main.change_access_settings',service='ftp') }}" method="POST">
    {{ form.hidden_tag() }}

    {% if enabled %}
    <div class="row g-1">
        <div class="col-12">
            <button class="btn btn-danger w-100" type="submit" name="action" value="disable">Disable {{ service | upper }}</button>
        </div>
      </div>
    {% else %}
      <div class="row g-1">
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit" name="action" value="enable">Enable {{ service | upper }}</button>
        </div>
    </div>
    {% endif %}
</form>

<div class="mt-4">
    <h4>Connecting using FTP</h4>

    <ol>
        <li>Download an FTP Client. There are many available with pros and cons. If you are not sure what to use, download <a href="https://filezilla-project.org" target="_blank">FileZilla</a>, as it's cross-platform.</li>
        <li>Insert the IP of this NAS (you can find in the Network tab) in <code>Host</code>.</li>
        <li>The <code>username</code> and <code>password</code> to use are the same as you set for the <code>SSH</code> service (SSH service is not required to be enabled, but they share the same username).</li>
        <li>Leave the <code>Port</code> either blank or the default value you find.</li>
        <li>Press <code>Quickconnect</code> (or equivalent for your FTP client).</li>
        <li>Transfer files inside <code>{{ mountpoint }}</code></li>
    </ol>


</div>
{% endblock %}


