{% extends "card.html" %}

{% block card_title %}SMB <span class="float-end">{{ enabled | enabled_fmt | safe }}</span>{% endblock %}

{% block card_content %}

<form action="{{ url_for('main.change_access_settings',service='smb') }}" method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.username.label }}</div>
      <div class="col-sm-8">
        {{ form.username(class="form-control",readonly=True) }}
        <div>The username is the same as in the <code>SSH</code> service. If the username is changed, <code>SMB</code> will be disabled.</div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.password.label }}</div>
      <div class="col-sm-8">
        {{ form.password(class="form-control") }}
      </div>
    </div>

        <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.confirm_password.label }}</div>
      <div class="col-sm-8">
        {{ form.confirm_password(class="form-control") }}
      </div>
    </div>

    {% if enabled %}
      <div class="row g-2">
        <div class="col-6">
            <button class="btn btn-success w-100" type="submit" name="action" value="update">Change password</button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger w-100" type="submit" name="action" value="disable">Disable</button>
        </div>
      </div>
    {% else %}
      <div class="row g-1">
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit" name="action" value="enable">Enable</button>
        </div>
    </div>
    {% endif %}
</form>

<div class="mt-4">
    <h4>Connecting using SMB</h4>
    <div class="accordion" id="smb_explanations">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ubuntu" aria-expanded="true" aria-controls="ubuntu">
                    Ubuntu (GUI)
                </button>
            </h2>
            <div id="ubuntu" class="accordion-collapse collapse" data-bs-parent="#smb_explanations">
                <div class="accordion-body">
                    <ol>
                        <li>Open <code>Files</code>.</li>
                        <li>Go to <code>Other locations</code>.</li>
                        <li>Go to the textbox at the bottom saying <code>Enter server address...</code></li>
                        <li>Type <code>smb://IP/NMS</code>. Replace <code>IP</code> with the IP address/hostname of this NAS (you can find in the Network tab).</li>
                        <li>Press <code>Connect</code>.</li>
                        <li>When prompted, selected <code>Registered user</code>.</li>
                        <li>Type <code>{{ form.username.default }}</code> and the password you have set in the credential textboxes.</li>
                        <li>Press <code>Connect</code>.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#linux_smb" aria-expanded="true" aria-controls="linux_smb">
                    Linux (most distributions)
                </button>
            </h2>
            <div id="linux_smb" class="accordion-collapse collapse" data-bs-parent="#smb_explanations">
                <div class="accordion-body">
                    <ol>
                        <li>Open the <strong>Terminal</strong> <i class="bi bi-terminal-fill"></i></li>
                        <li>Install the Common Internet File System (<code>CIFS</code>) utilities if they are not already in there. Here there are some directions to it on major distributions:
                            <ul>
                                <li><strong>Ubuntu/Debian</strong>: <code>$ sudo apt install cifs-utils</code></li>
                                <li><strong>Fedora/Red Hat/CentOS/AlmaLinux</strong>: <code>$ sudo dnf install cifs-utils</code></li>
                                <li><strong>ArchLinux</strong>: <code>$ sudo pacman -S cifs-utils</code></li>
                                <li><strong>OpenSUSE</strong>: <code>$ sudo zypper install cifs-utils</code></li>
                            </ul>
                        </li>
                        <li>Create a mount directory in either <code>/media</code> or <code>/mnt</code>. For example<br />
                            <code>$ sudo mkdir /media/nms</code>
                        </li>
                        <li>Type the following command <br/>
                            <code>$ sudo mount -t cifs //SERVER/<strong>IP</strong>/NMS /media/nms -o username={{ form.username.default }}</code>
                        </li>
                        <li>You should replace <code>IP</code> with the IP address you can find in the Network tab.</li>
                        <li>Type your password once asked.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#macos_smb" aria-expanded="true" aria-controls="macos_smb">
                    MacOS
                </button>
            </h2>
            <div id="macos_smb" class="accordion-collapse collapse" data-bs-parent="#smb_explanations">
                <div class="accordion-body">
                    <ol>
                        <li>Open <code>Finder</code>.</li>
                        <li>In the menu on top, press <code>Go > Connect to Server</code>.</li>
                        <li>From now on, you can follow similar steps as in <code>Ubuntu</code> starting from step (4).</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#windows_smb" aria-expanded="true" aria-controls="windows_smb">
                    Windows
                </button>
            </h2>
            <div id="windows_smb" class="accordion-collapse collapse" data-bs-parent="#smb_explanations">
                <div class="accordion-body">
                    <ol>
                        <li>Open <code>File Manager</code></li>
                        <li>In the textbox for the path, insert <code>\\IP\NMS</code>. Replace <code>IP</code> with the IP address/hostname of this NAS (you can find in the Network tab). Then, press <code>Enter</code> key.</li>
                        <li>When prompted, insert your credential.</li>
                        <li>Type <code>{{ form.username.default }}</code> and the password you have set.</li>
                        <li>Press <code>Connect</code>.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


