{% extends "card.html" %}

{% block card_title %}{{ service | upper }} <span class="float-end">{{ service_enabled | enabled_fmt | safe }}</span>{% endblock %}

{% block card_content %}

<form action="{{ url_for('main.change_access_settings',service=service) }}" method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.port.label }}</div>
      <div class="col-sm-8">
        {{ form.port(class="form-control") }}
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.username.label }}</div>
      <div class="col-sm-8">
        {{ form.username(class="form-control") }}
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.password.label }}</div>
      <div class="col-sm-8">
        {{ form.password(class="form-control") }}
      </div>
    </div>

        <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.confirm_password.label }}</div>
      <div class="col-sm-8">
        {{ form.confirm_password(class="form-control") }}
      </div>
    </div>

    {% if service_enabled %}
      <div class="row g-2">
        <div class="col-6">
            {{ form.update(class="btn btn-success w-100") }}
        </div>
        <div class="col-6">
            {{ form.disable(class="btn btn-danger w-100") }}
        </div>
      </div>
    {% else %}
      <div class="row g-1">
        <div class="col-12">
            {{ form.enable(class="btn btn-success w-100") }}
        </div>
    </div>
    {% endif %}
</form>

{% endblock %}


