{% extends "card.html" %}

{% block card_title %}<i class="bi bi-box-fill"></i> {{ _("System Updates") }}{% endblock %}

{% block card_content %}
{% set enable_js = false %}

<dl class="row">
    <dt class="col-sm-5">{{ _("Last check:") }}</dt>
    <dd class="col-sm-7">{{ last_update }}</dd>

    <dt class="col-sm-5">{{ _("Current updates:") }} </dt>
    <dd class="col-sm-7">{{ updates | length }}</dd>
</dl>

<form action="{{ url_for('main.apt_get') }}" method="POST" class="disable-on-submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row g-1">
        <div class="col-12">
            {% if state is none  %}
                <button class="btn btn-success w-100" type="submit" name="action" value="update">{{ _("Check for updates") }}</button>
            {% elif state == 'update' %}
                {% set enable_js = true %}
                <button class="btn btn-secondary w-100" type="submit" disabled>{{ _("Checking for updates...") }}</button>
            {% endif %}
        </div>
        <div class="col-12">
            {% if updates | length > 0 %}
                <div class="accordion mb-4 mt-4" id="list_packages">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#apt_list" aria-expanded="true" aria-controls="apt_list">
                                {{ _("List of packages to update") }}
                            </button>
                        </h2>
                        <div id="apt_list" class="accordion-collapse collapse" data-bs-parent="#list_packages">
                            <div class="accordion-body">
                                <ol>
                                    {% for p in updates %}
                                        <li>{{ p }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                {% if state is none  %}
                    <button class="btn btn-warning w-100" type="submit" name="action" value="upgrade">{{ _("Update") }}</button>
                {% elif state == 'upgrade' %}
                    {% set enable_js = true %}
                    <button class="btn btn-secondary w-100" type="submit" disabled>{{ _("Updating in progress...") }}</button>
                {% endif %}
            {% endif %}
        </div>
      </div>
</form>

<script nonce="{{ csp_nonce }}">
{% if enable_js %}
    GlobalRefresher.register_once("{{ card_id }}","{{ url_for('main.async_widget_system_updates') }}");
{% endif %}
</script>

{% endblock %}


