{% extends "card.html" %}

{% block card_title %}NFS <span class="float-end">{{ enabled | enabled_fmt | safe }}</span>{% endblock %}

{% block card_content %}

<form action="{{ url_for('main.change_access_settings',service='nfs') }}" method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.ip.label }}</div>
      <div class="col-sm-8">
        {{ form.ip(class="form-control") }}
        <div class="form-text">
            Enter the IP address (or a range of IPs) of the device you want to allow to mount your disk array via NFS. If you use DNS, you may also enter a hostname instead of an IP.  Examples:
            <ul>
                <li><code>{{ ip }}</code> — allows only your current device.</li>
                <li><code>{{ ip_range }}</code> — allows any device in your LAN.</li>
            </ul>
            If you have a VPN service enabled, remember that your VPN IP will be different from the local network IP, so you will need to allow that IP (or VPN subnet) instead.
        </div>
      </div>
    </div>


    {% if enabled %}
      <div class="row g-2">
        <div class="col-6">
            <button class="btn btn-success w-100" type="submit" name="action" value="update">Update settings</button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger w-100" type="submit" name="action" value="disable">Disable {{ service | upper }}</button>
        </div>
      </div>
    {% else %}
      <div class="row g-1">
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit" name="action" value="enable">Enable {{ service | upper }}</button>
        </div>
    </div>
    {% endif %}
</form>

<div class="mt-4">
    <h4>Connecting using NFS</h4>
    <div class="accordion" id="nfs_explanations">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#linux" aria-expanded="true" aria-controls="linux">
                    Linux (most distributions)
                </button>
            </h2>
            <div id="linux" class="accordion-collapse collapse" data-bs-parent="#nfs_explanations">
                <div class="accordion-body">
                    <ol>
                        <li>Open the <strong>Terminal</strong> <i class="bi bi-terminal-fill"></i></li>
                        <li>Install <code>nfs</code> client if it's not already in there. Here there are some directions to it on major distributions:
                            <ul>
                                <li><strong>Ubuntu/Debian</strong>: <code>$ sudo apt install nfs-common</code></li>
                                <li><strong>Fedora/Red Hat/CentOS/AlmaLinux</strong>: <code>$ sudo dnf install nfs-utils</code></li>
                                <li><strong>ArchLinux</strong>: <code>$ sudo pacman -S nfs-utils</code></li>
                                <li><strong>OpenSUSE</strong>: <code>$ sudo zypper install nfs-client</code></li>
                            </ul>
                        </li>
                        <li>Create a mount directory in either <code>/media</code> or <code>/mnt</code>. For example<br />
                            <code>$ sudo mkdir /media/nms</code>
                        </li>
                        <li>Type the following command <br/>
                            <code>$ sudo mount -t nfs <strong>IP</strong>:{{ mountpoint }} /media/nms</code>
                        </li>
                        <li>You should replace <code>IP</code> with the IP address you can find in the Network tab.</li>
                        <li>Adapt <code>/media/nms</code> as per step (3) if you used a different setup.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#macos" aria-expanded="true" aria-controls="macos">
                    macOS
                </button>
            </h2>
            <div id="macos" class="accordion-collapse collapse" data-bs-parent="#nfs_explanations">
                <div class="accordion-body">
                    <ol>
                        <li>Open the <strong>Terminal</strong> <i class="bi bi-terminal-fill"></i></li>
                        <li>Create a mount directory in <code>/Volumes</code>. For example<br />
                            <code>$ sudo mkdir /Volumes/nms</code>
                        </li>
                        <li>Type the following command <br/>
                            <code>$ sudo mount -t nfs -o resvport <strong>IP</strong>:{{ mountpoint }} /Volumes/nms</code>
                        </li>
                        <li>You should replace <code>IP</code> with the IP address you can find in the Network tab.</li>
                        <li>Adapt <code>/Volumes/nms</code> as per step (2) if you used a different setup.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#windows_nfs" aria-expanded="true" aria-controls="windows_nfs">
                    Windows
                </button>
            </h2>
            <div id="windows_nfs" class="accordion-collapse collapse" data-bs-parent="#nfs_explanations">
                <div class="accordion-body">
                    <ol>
                        <li>Go to <code>Control Panel > Programs</code></li>
                        <li>On the left side, press <code>Turn Windows features on or off</code>.</li>
                        <li>Make sure that <code>Services for NFS</code> is checked. Then press <code>OK</code>.</li>
                        <li>Open <code>Powershell</code>.</li>
                         <li>Type the following command <br/>
                            <code>mount -o anon \\<strong>IP</strong>\{{ mountpoint.replace("/","\\") }} Z:</code>
                        </li>
                        <li>You should replace <code>IP</code> with the IP address you can find in the Network tab.</li>
                        <li>You can choose a different unit letter than <code>Z:</code>.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


