{% extends "card.html" %}

{% block card_title %}<i class="bi bi-patch-check-fill"></i> {{ _("Last Verification Report") }}{% endblock %}

{% block card_content %}


<dl class="row">

  <dt class="col-sm-4"> {{ _("Started at") }}:</dt>
  <dd class="col-sm-8">{{ scrub['started'] }}</dd>

  <dt class="col-sm-4"> {{ _("Ended at") }}:</dt>
  <dd class="col-sm-8">{{ scrub['ended'] }}</dd>

  <dt class="col-sm-4"> {{ _("Errors") }}:</dt>
  <dd class="col-sm-8">{{ scrub['errors'] }}</dd>
</dl>


{% endblock %}


