{% extends "card.html" %}

{% block card_title %}
{{ _("VPN") }}
    <form method="POST" class="float-end" action=" {{ url_for('main.vpn_change_status',action='down' if vpn.enabled else 'up') }}">
        {{ enabler_form.hidden_tag() }}
        <span class="form-check form-switch">
            {{ enabler_form.iface_enabler(class="form-check-input auto-submit-switch")}}
        </span>
    </form>

{% endblock %}

{% block card_content %}

{% if vpn.form %}
<form method="POST" action="{{ url_for('main.net_vpn_apply_changes') }} ">

        {{ vpn.form.hidden_tag() }}

        {% for field in vpn.form if (field.type not in ['HiddenField','CSRFTokenField']) %}
           <div class="mb-3 row">
              <div class="col-sm-4 col-form-label">{{ field.label }}</div>
              <div class="col-8">
                  {% if field.type == "BooleanField" %}
                    <span class="form-check form-switch">
                        {{ field(class="form-check-input") }}
                    </span>
                  {% else %}
                    {{ field(class="form-control") }}
                  {% endif %}

              </div>
            </div>
        {% endfor %}

    <div class="mb-3 row">

        <div class="col-sm-12">
            <button type="submit" name="action" value="changes" class="btn btn-success w-100">{{ _("Apply changes") }}</button>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-6">
            <button type="submit" name="action" value="get-pubkey" class="w-100 btn btn-info">{{ _("Get Public Key") }}</button>
        </div>

        <div class="col-sm-6">
            <button type="submit" name="action" value="genkeys" class="w-100 btn btn-warning">{{ _("Regenerate Keys") }}</button>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-text">
            {{ _("Use the public key to configure the %(st_link)sWireGuard%(e_link)s on your device(s).",st_link="<a href='https://www.wireguard.com/install/' target='_blank'>"|safe ,e_link="</a>"|safe) }}
        </div>
    </div>

</form>

<h5 class="mt-3">{{ _("Allowed Devices") }}</h5>

<form method="POST" class="auto-submit-switch disable-on-submit" action="{{ url_for('main.vpn_peers') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <table class="table table-hover">
      <tbody>
        {% for peer in peers %}
        <tr>


          <td class="align-middle col-11" colspan="2">{{ peer }}</td>


          <td class="text-center align-middle col-1">
              <button type="submit" name="remove" value="{{ peer }}" class="btn btn-danger"> <i class="bi bi-trash3-fill"></i> </button>
          </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="align-middle col-6"><input type="text" class="form-control" name="peer_name" placeholder="{{ _('Name') }}"> </td>
            <td class="align-middle col-5"><input type="text" class="form-control" name="public_key" placeholder="{{ _('Public Key') }}"> </td>

            <td class="text-center align-middle col-1">
                <button type="submit" name="new" value="add" class="btn btn-info"> <i class="bi bi-plus-circle-fill"></i> </button>
            </td>
        </tr>
      </tbody>
    </table>
</form>

<div class="col-sm-12">
    <div class="form-text">
        {{ _("To configure your device, you need to install %(st_link1)sWireGuard%(e_link)s. %(st_link2)sRead this%(e_link)s page to learn how to generate private and public keys from your end. An example configuration file is provided below:",st_link1="<a href='https://www.wireguard.com/install/' target='_blank'>"|safe ,e_link="</a>"|safe,st_link2="<a href='https://www.wireguard.com/quickstart/' target='_blank'>"|safe) }}
    </div>
    <pre class="mt-3">
[Interface]
PrivateKey = YOUR_PRIVATE_KEY
Address = 10.0.0.2/24          # THIS IS AN EXAMPLE - Change ip and subnet according to the configuration above
DNS = 1.1.1.1                  # Optional, use your preferred DNS

[Peer]
PublicKey = SERVER_PUBLIC_KEY       # You can download it by pressing the button above.
Endpoint = 192.168.1.180:51820      # Change the IP with your public IP (check https://whatismyipaddress.com)
AllowedIPs = 0.0.0.0/0, ::/0        # Send all traffic through VPN (or adjust)
PersistentKeepalive = 25            # Keeps connections alive

    </pre>
</div>




{% endif %}

{% endblock %}


