{% extends "card.html" %}

{% block card_title %}Create New Array{% endblock %}

{% block card_content %}

<p >
  Do you want to create a new array with these new disks?
</p>

<form action="{{ url_for('new_pool') }}" method="POST" class="ps-3 pe-3">
    <div class="row align-items-center mb-3">
      <div class="col-auto form-check form-switch">
        <input class="form-check-input" type="checkbox" id="redundancy" name="redundancy">
       </div>
      <div class="col">
        <label class="form-check-label" for="redundancy">Redundancy</label>
      </div>
      <div class="col-auto">
        <span
          class="d-inline-block bg-dark text-white rounded-circle text-center ms-3 help"
          data-bs-toggle="tooltip"
          title="Protects data by distributing it across multiple disks with RAIDZ1 parity, allowing recovery if a single disk fails. It requires a minimum of 3 disks"
        >
          ?
        </span>
      </div>
  </div>

   <div class="row align-items-center mb-3">
      <div class="col-auto form-check form-switch">
        <input class="form-check-input" type="checkbox" id="encryption" name="encryption">
       </div>
      <div class="col">
        <label class="form-check-label" for="encryption">Encryption</label>
      </div>
      <div class="col-auto">
        <span
          class="d-inline-block bg-dark text-white rounded-circle text-center ms-3 help"
          data-bs-toggle="tooltip"
          title="Secures data by encoding it so only authorised users with the key can access the information stored on your array."
        >
          ?
        </span>
      </div>
  </div>

  <div class="row align-items-center mb-3">
      <div class="col-auto form-check form-switch">
        <input class="form-check-input" type="checkbox" id="compression" name="compression">
       </div>
      <div class="col">
        <label class="form-check-label" for="compression">Compression</label>
      </div>
      <div class="col-auto">
        <span
          class="d-inline-block bg-dark text-white rounded-circle text-center ms-3 help"
          data-bs-toggle="tooltip"
          title="Reduces storage space by automatically compressing data before writing it to disk, saving disk space."
        >
          ?
        </span>
      </div>
  </div>



  <button type="submit" class="btn btn-info w-100">Create Array</button>
</form>



{% endblock %}


