{% extends "index.html" %}

{% block title %}Disk Management{% endblock %}

{% block content %}

{% if disks %}
    <div class="row g-3">
        {% for disk in disks %}
            {% set idx = loop.index %}
            {% include "card.disk.html" %}
        {% endfor %}
    </div>

    {% if pool %}
        <div class="row g-3 mt-1">
            {% include "card.disk_tools.html" %}

            {% if scrub %}
                {% include "card.scrub_report.html" %}
            {% endif %}
        </div>
    {% else %}
        <div class="row g-3 mt-1">
            {% include "card.new_array.html" %}
        </div>
    {% endif %}

{% else %}
    {% include "warning.no_hdd.html" %}
{% endif %}

{% endblock %}
