<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NAS Management System :: {% block title %}Dashboard{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.8-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.13.1/bootstrap-icons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% for css in extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename=css) }}">
  {% endfor %}

  <script src="{{ url_for('static', filename='refresher.js') }}"></script>
</head>
<body>
  <nav id="main-nav" class="navbar navbar-expand navbar-light">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ url_for('main.dashboard') }}" class="nav-link {% if active_page == 'dashboard' %}active{% endif %}" id="nav-dashboard"> <i class="bi bi-speedometer2"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('main.disk_management') }}" class="nav-link {% if active_page == 'disk' %}active{% endif %}" id="nav-disk"> <i class="bi bi-hdd-rack-fill"></i> Disk Management</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link {% if active_page == 'network' %}active{% endif %}" id="nav-network"><i class="bi bi-link-45deg"></i> Network</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('main.access') }}" class="nav-link {% if active_page == 'access' %}active{% endif %}" id="nav-access"><i class="bi bi-terminal-fill"></i> Access</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('main.advanced') }}" class="nav-link {% if active_page == 'advanced' %}active{% endif %}" id="nav-advanced"><i class="bi bi-gear-fill"></i> Advanced</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          href="#"
          id="userMenu"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-power"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
          <li><a class="dropdown-item" href="#" modal-confirm modal-message="Are you sure you want to log out?" modal-action="/logout">Logout</a></li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" modal-confirm modal-message="Are you sure you want to reboot the system?" modal-action="/reboot">Reboot</a></li>
          <li><a class="dropdown-item" href="#" modal-confirm modal-message="Are you sure you want to power off the system?" modal-action="/shutdown">Shutdown</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </nav>

  <div id="page-content">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category,msg in messages %}
            {% if category == "error" %}
                {% set callout_text = msg %}
                {% include "callout.error.html" %}
            {% elif category == "success" %}
              {% set callout_text = msg %}
              {% include "callout.success.html" %}
            {% endif %}
        {% endfor %}
    {% endwith %}

    {% block content %}
    {% endblock %}

  </div>

  <script src="{{ url_for('static', filename='bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}"></script>

  {% include "modal.confirm.html" %}

  <script nonce="{{ csp_nonce }}">
    GlobalRefresher.start();
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
</body>
</html>
