  <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p id="ConfirmModalMessage"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

        <form id="ConfirmModalForm" method="post" class="m-0">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-danger" id="ConfirmModalBtn">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script nonce="{{ csp_nonce }}">
(function () {
  // Modal element and Bootstrap Modal instance
  const modalEl = document.getElementById('ConfirmModal');
  if (!modalEl) return;

  const bsModal = new bootstrap.Modal(modalEl, { backdrop: 'static' });

  // Elements we update
  const messageEl = document.getElementById('ConfirmModalMessage');
  const confirmModalForm = document.getElementById('ConfirmModalForm');
  const confirmButton = document.getElementById('ConfirmModalBtn');

  // We store a reference to the form to be submitted
  let pendingForm = null;

  document.addEventListener('click', function (ev) {
    const trigger = ev.target.closest('[modal-confirm]');
    if (!trigger) return;

    ev.preventDefault();

    let message = trigger.getAttribute('modal-message')
                   || 'Are you sure you want to proceed?';

    const md = new showdown.Converter()
    message = md.makeHtml(message)
    const actionOverride = trigger.getAttribute('modal-action');

    if (messageEl) messageEl.innerHTML = nl2br(message);

    // CASE 1: <a modal-confirm href="...">
    if (trigger.tagName.toLowerCase() === 'a') {
      pendingForm = null; // make sure no old form stays
      if (actionOverride && confirmModalForm) {
        confirmModalForm.action = actionOverride;
      } else if (confirmModalForm) {
        confirmModalForm.action = trigger.href;
      }
    }

    // CASE 2: <button modal-confirm inside a <form>>
    if (trigger.tagName.toLowerCase() === 'button') {
      pendingForm = trigger.closest('form');  // form to submit later
      confirmModalForm.action = null;
    }

    bsModal.show();
  });

  // When user confirms the action
  confirmButton.addEventListener('click', function (ev) {
    ev.preventDefault()
    if (pendingForm) {
      // submit the form that had the modal-confirm button
      pendingForm.submit();
      pendingForm = null;
      return;
    }

    // otherwise treat as standard modal (a link)
    if (confirmModalForm && confirmModalForm.action) {
      confirmModalForm.submit();
    }

  });

})();

</script>
