{% extends "index.html" %}

{% block title %}{{ _("System Logs") }}{% endblock %}

{% block content %}

<div class="d-flex align-items-center border-bottom">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active == 'frontend' %} active {% endif %}" href="{{ url_for('main.system_logs',log='frontend',start=date_filter['start'],end=date_filter['end']) }}"><i class="bi bi-window-sidebar"></i> {{ _("Web App") }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active == 'backend' %} active {% endif %}" href="{{ url_for('main.system_logs',log='backend',start=date_filter['start'],end=date_filter['end']) }}"><i class="bi bi-gear-wide-connected"></i> {{ _("Backend") }}</a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if active == 'nginx' %} active {% endif %}" href="{{ url_for('main.system_logs',log='nginx',start=date_filter['start'],end=date_filter['end']) }}"><i class="bi bi-gear-wide-connected"></i> {{ _("Web Server") }}</a>
    </li>
  </ul>

  <form class="d-flex align-items-center ms-auto gap-2" action="{{ url_for('main.system_logs',log=active) }}" method="get">

        <input type="datetime-local"
               name="start"
               value="{{ date_filter['start'] }}"
               class="form-control form-control-sm">

        <span class="text-muted">→</span>

        <input type="datetime-local"
               name="end"
               value="{{ date_filter['end'] }}"
               class="form-control form-control-sm">

        <button class="btn btn-sm btn-primary">
            {{ _("Filter") }}
        </button>
    </form>
</div>

<div class="terminal-container">
<pre class="ansi-viewport mb-0" aria-live="polite" role="log">
    {{ log_html|safe }}
</pre>
</div>

<script nonce="{{ csp_nonce }}">
  window.addEventListener('DOMContentLoaded', () => {
    const terminal = document.querySelector('.terminal-container');
    if (terminal) {
      terminal.scrollTop = terminal.scrollHeight;
    }
  });
</script>

{% endblock %}
