{% extends "card.html" %}

{% block card_title %}<i class="bi bi-tools"></i> {{ _("Disk Tools") }}{% endblock %}

{% block card_content %}

<div class="container">
    <div class="row g-3">
        {% set btn_icon = "<i class=\"bi bi-search-heart\"></i>" | safe %}
        {% set btn_title = _("Verify") %}
        {% set btn_link = url_for('main.scrub') %}
        {% set btn_text = _("Last verification:") ~ " " ~ verify['last'] %}

        {% if verify['ongoing'] %}
          {% set btn_disabled=True %}
          {% set btn_text = _("Verification in progress...") %}
        {% endif %}

        {% include "element.square_btn.html" %}

        {% if (redundancy) and (redundancy==True) %}

            {% set btn_icon = "<i class=\"bi bi-database-fill-check\"></i>" | safe %}
            {% set btn_title = _("Check & Fix") %}

            {% set btn_text = _("Last check:") ~ " " ~ check['last'] %}

            {% if check['ongoing'] %}
              {% set btn_disabled=True %}
              {% set btn_text = _("Checking & Fixing in progress...") %}
            {% endif %}

            {% include "element.square_btn.html" %}

        {% endif %}

        {% if mounted %}

            {% set btn_icon = "<i class=\"bi bi-database-fill\"></i>" | safe %}
            {% set btn_title = _("Unmount") %}

            {% set btn_text = _("Disk array is mounted") %}
            {% set btn_link = url_for('main.unmount') %}

        {% else %}
            {% set btn_icon = "<i class=\"bi bi-database-fill-x\"></i>" | safe %}
            {% set btn_title = _("Mount") %}

            {% set btn_text = _("Disk array is unmounted") %}
            {% set btn_link = url_for('main.mount') %}
        {% endif %}

        {% include "element.square_btn.html" %}

        {% set btn_icon = "<i class=\"bi bi-camera\"></i>" | safe %}
        {% set btn_title = _("Create Snapshot") %}

        {% set btn_text = "" %}
        {% set btn_link = url_for('main.snapshot_disk') %}
        {% include "element.square_btn.html" %}

    </div>
</div>



{% endblock %}


