{% extends "card.html" %}

{% block card_title %}NFS <span class="float-end">{{ enabled | enabled_fmt | safe }}</span>{% endblock %}

{% block card_content %}

<form action="{{ url_for('main.change_access_settings',service='nfs') }}" method="POST" class="disable-on-submit">
    {{ form.hidden_tag() }}
{#
    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.domain.label }}</div>
      <div class="col-sm-8">
        {{ form.domain(class="form-control") }}
      </div>
    </div>
#}
    <div class="mb-3 row">
      <div class="col-sm-4 col-form-label">{{ form.ip.label }}</div>
      <div class="col-sm-8">
        {{ form.ip(class="form-control") }}
        <div class="form-text">
            {{ _("Enter the IP address (or a range of IPs) of the device you want to allow to mount your disk array via NFS. If you use DNS, you may also enter a hostname instead of an IP. Examples: ") }}
            <ul>
                <li><code>{{ ip }}</code> — {{ _("allows only your current device.") }}</li>
                <li><code>{{ ip_range }}</code> — {{ _("allows any device in your LAN.") }}</li>
            </ul>
            {{ _("If you have a VPN service enabled, remember that your VPN IP will be different from the local network IP, so you will need to allow that IP (or VPN subnet) instead.") }}
        </div>
      </div>
    </div>


    {% if enabled %}
      <div class="row g-2">
        <div class="col-6">
            <button class="btn btn-success w-100" type="submit" name="action" value="update">Update settings</button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger w-100" type="submit" name="action" value="disable">{{ _("Disable") }}</button>
        </div>
      </div>
    {% else %}
      <div class="row g-1">
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit" name="action" value="enable" {{ "" if mountpoint else "disabled" }}>{{ _("Enable") }}</button>
        </div>
    </div>
    {% endif %}
</form>

<div class="mt-4">
    <h4>{{  _("Connecting using %(service)s",service="NFS") }}</h4>
    {{ _("To make NFS mount effectively working, user ids (UIDs) must match in both ends (e.g. here and remote device).") }}
    <div class="accordion mt-3" id="nfs_explanations">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#linux" aria-expanded="true" aria-controls="linux">
                    <i class="bi bi-tux"></i>&nbsp;&nbsp;Linux ({{ _("most distributions")}})
                </button>
            </h2>
            <div id="linux" class="accordion-collapse collapse" data-bs-parent="#nfs_explanations">
                <div class="accordion-body">
                    <ol>
                        <li>{{ _("Open the %(st_st)sTerminal%(e_st)s %(icon)s",st_st="<strong>"|safe,e_st="</strong>"|safe,icon='<i class="bi bi-terminal-fill"></i>'|safe) }}</li>
                        <li>{{ _("Install %(st_code)snfs%(e_code)s client if it's not already in there. Here there are some directions to it on major distributions:",st_code="<code>"|safe,e_code="</code>"|safe) }}
                            <ul>
                                <li><strong>Ubuntu/Debian</strong>: <code>$ sudo apt install nfs-common</code></li>
                                <li><strong>Fedora/Red Hat/CentOS/AlmaLinux</strong>: <code>$ sudo dnf install nfs-utils</code></li>
                                <li><strong>ArchLinux</strong>: <code>$ sudo pacman -S nfs-utils</code></li>
                                <li><strong>OpenSUSE</strong>: <code>$ sudo zypper install nfs-client</code></li>
                            </ul>
                        </li>
                        <li>{{ _("Create a mount directory in either %(st_code)s/media%(e_code)s or %(st_code)s/mnt%(e_code)s. For example",st_code="<code>"|safe,e_code="</code>"|safe) }}<br />
                            <code>$ sudo mkdir /media/nms</code>
                        </li>
                        <li>{{ _("Type the following command") }} <br/>
                            <code>$ sudo mount -t nfs4 <strong>IP</strong>:/ /media/nms</code>
                        </li>
                        <li>{{ _("You should replace %(st_code)sIP%(e_code)s with the IP address you can find in the Network tab.",st_code="<code>"|safe,e_code="</code>"|safe) }}</li>
                        <li>{{ _("Adapt %(st_code)s/media/nms%(e_code)s as per step (%(step)i) if you used a different setup.",st_code="<code>"|safe,e_code="</code>"|safe,step=3) }}</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#macos" aria-expanded="true" aria-controls="macos">
                    <i class="bi bi-apple"></i>&nbsp;&nbsp;macOS
                </button>
            </h2>
            <div id="macos" class="accordion-collapse collapse" data-bs-parent="#nfs_explanations">
                <div class="accordion-body">
                    <ol>
                         <li>{{ _("Open the %(st_st)sTerminal%(e_st)s %(icon)s",st_st="<strong>"|safe,e_st="</strong>"|safe,icon='<i class="bi bi-terminal-fill"></i>'|safe) }}</li>
                        <li>{{ _("Create a mount directory in %(st_code)s/Volumes%(e_code)s. For example", st_code="<code>"|safe,e_code="</code>"|safe) }}<br />
                            <code>$ sudo mkdir /Volumes/nms</code>
                        </li>
                        <li>{{ _("Type the following command") }} <br/>
                            <code>$ sudo mount -t nfs4 -o resvport <strong>IP</strong>:/ /Volumes/nms</code>
                        </li>
                        <li>{{ _("You should replace %(st_code)sIP%(e_code)s with the IP address you can find in the Network tab.",st_code="<code>"|safe,e_code="</code>"|safe) }}</li>
                        <li>{{ _("Adapt %(st_code)s/media/nms%(e_code)s as per step (%(step)i) if you used a different setup.",st_code="<code>"|safe,e_code="</code>"|safe,step=2) }}</li>
                    </ol>
                </div>
            </div>
        </div>

        {% if mountpoint %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#windows_nfs" aria-expanded="true" aria-controls="windows_nfs">
                       <i class="bi bi-windows"></i>&nbsp;&nbsp;Windows
                    </button>
                </h2>
                <div id="windows_nfs" class="accordion-collapse collapse" data-bs-parent="#nfs_explanations">
                    <div class="accordion-body">
                        <ol>
                            <li>Go to <code>Control Panel > Programs</code></li>
                            <li>On the left side, press <code>Turn Windows features on or off</code>.</li>
                            <li>Make sure that <code>Services for NFS</code> is checked. Then press <code>OK</code>.</li>
                            <li>{{ _("Open %(st_code)sPowershell%(e_code)s.",st_code="<code>"|safe,e_code="</code>"|safe) }}</li>
                            <li>{{ _("Type the following command") }} <br/>
                                <code>mount -o anon \\<strong>IP</strong>\{{ mountpoint.replace("/","\\") }} Z:</code>
                            </li>
                            <li>{{ _("You should replace %(st_code)sIP%(e_code)s with the IP address you can find in the Network tab.",st_code="<code>"|safe,e_code="</code>"|safe) }}</li>
                            <li>{{ _("You can choose a different unit letter than %(st_code)sZ:%(e_code)s.",st_code="<code>"|safe,e_code="</code>"|safe) }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}


