{% extends "card.html" %}

{% block card_title %}
{% if user.admin %}
<i class="bi bi-person-fill-check" data-bs-toggle="tooltip" data-bs-title="{{ _('System Admin') }}"></i>
{% else %}
<i class="bi bi-person-circle"></i>
{% endif %}
{{ _("Account") }} <span class="float-end"></span>
{% endblock %}


{% block card_content %}


<form method="POST" class="disable-on-submit"  action="{{ url_for('main.change_username') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <div class="row mb-3">
            <dt class="col-sm-5 col-form-label">{{ _("Username") }}:</dt>
            <div class="col-sm-5"><input type="text" name="new_username" value="{{ user.username }}" class="form-control" /> </div>
            <div class="col-sm-2"><button type="submit" class="btn btn-success"><i class="bi bi-send-fill"></i></button></div>
    </div>
</form>
<form method="POST" class="disable-on-submit"  action="{{ url_for('main.change_fullname') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <div class="row mb-3">
            <dt class="col-sm-5 col-form-label">{{ _("Visible Name") }}:</dt>
            <div class="col-sm-5"><input type="text" name="fullname" value="{{ user.visible_name }}" class="form-control" /> </div>
            <div class="col-sm-2"><button type="submit" class="btn btn-success"><i class="bi bi-send-fill"></i></button></div>
    </div>
</form>


{% if user.quota %}
<form method="POST" class="disable-on-submit"  action="{{ url_for('main.user_quota') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <div class="row mb-3">
            <dt class="col-sm-5 col-form-label">{{ _("Quota") }}:</dt>
            <div class="col-sm-5"><input type="text" name="quota" value="{{ user.quota.quota | human_readable_bytes }}" class="form-control" /> </div>
            <div class="col-sm-2"><button type="submit" class="btn btn-success"><i class="bi bi-send-fill"></i></button></div>
    </div>
</form>

<div class="row mb-3">
    <dt class="col-sm-5">{{ _("Used Space") }}:</dt>
    <dd class="col-sm-7">
        {% if user.quota %}
            {{ user.quota.used | human_readable_bytes }}
        {% else %}
            {{ _("Unknown") }}
        {% endif %}
    </dd>
</div>
{% endif %}

<form method="POST" class="disable-on-submit" action="{{ url_for('main.set_sudo') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <div class="row mb-3">
            <dt class="col-sm-5 col-form-label">{{ _("Superuser") }}:</dt>
            <div class="col-sm-5">
                <span class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" role="switch" name="sudo" id="sudo" {{ 'checked' if user.sudo else '' }}>
                </span>
            </div>
            <div class="col-sm-2"><button type="submit" class="btn btn-success"><i class="bi bi-send-fill"></i></button></div>
    </div>
</form>

{% if user.first_login_token %}
<div class="row mb-1">
    <div class="col-sm-10"><input type="text" value="{{ url_for('main.login',token=user.first_login_token,_external=True) }} " id="activation-token" class="form-control" readonly /> </div>
    <div class="col-sm-2"><button type="button" class="btn btn-secondary copy-clipboard" data-target="activation-token"><i class="bi bi-copy"></i></button></div>
</div>

<div class="row mb-3">
    <div class="col-sm-12 form-text">{{ _("Provide the link above to the new user to activate their account.") }}</div>
</div>
{% else %}
<form method="POST" class="disable-on-submit" action="{{ url_for('main.reset_otp') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <div class="row mb-3">
            <dt class="col-sm-10 col-form-label">{{ _("Reset login credentials") }}</dt>
            <div class="col-sm-2"><button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button></div>
    </div>
</form>
{% endif %}

<form method="POST" class="disable-on-submit" action="{{ url_for('main.set_user_permissions') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <div class="accordion" id="user_permission">
      {% for perm_domain,subdomains in user_permissions.items() %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#perm-dom-{{ loop.index0 }}" aria-expanded="true" aria-controls="perm-dom-{{ loop.index0 }}">
              {{ perm_domain }}
          </button>
        </h2>
        <div id="perm-dom-{{ loop.index0 }}" class="accordion-collapse collapse hide" data-bs-parent="#user_permission">
          <div class="accordion-body">
              {% for subdomain,actions in subdomains.items() %}
              <h6>{{ subdomain }}</h6>
                <div class="row">
                    {% for action, (key,enabled) in actions.items() %}
                        <dd class="col-sm-12">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" name="switch--{{ key }}" id="switch--{{ key }}" {{ "checked" if enabled else ""}}>
                              <label class="form-check-label" for="switch--{{ key }}">{{ action  }}</label>
                            </div>
                        </dd>
                    {% endfor %}
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="row mt-2 mb-1">
        <div class="col-sm-12"><button type="submit" class="btn btn-success w-100">{{ _("Change Permissions") }}</button> </div>
      </div>
    </div>
</form>

 <div class="row bg-warning-subtle ms-1 me-1 p-2 rounded mt-3">
     <div class="row mb-3">
        <div class="col-sm-12">
            <h4>{{ _("Delete User") }}</h4>
        </div>
     </div>

  <form method="POST" class="disable-on-submit" action="{{ url_for('main.del_user') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="username" value="{{ user.username }}">
      <div class="row mb-3 ms-1">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="user_file" id="retain" value="k" required>
            <label class="form-check-label" for="retain">{{ _("Retain") }}</label>
          </div>
      </div>
      <div class="row mb-3 ms-1">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="user_file" id="delete" value="d">
            <label class="form-check-label" for="delete">{{ _("Delete permanently") }}</label>
          </div>
      </div>
      <div class="row mb-3">
      <div class="d-flex gap-2 align-items-center">
        <div class="form-check mb-0 ms-1 flex-shrink-0 ">
          <input class="form-check-input" type="radio" name="user_file" id="move_to" value="m">
          <label class="form-check-label" for="move_to">{{ _("Move to") }}:</label>
        </div>
        <select class="form-select flex-grow-1" id="move_to_user"  name="move_to_user">
            {% for u in move_to_users %}
                <option value="{{ u.get('username') }}">{{ u.get('username') }}</option>
            {% endfor %}

        </select>
      </div>
    </div>
    <div class="row mb-3">
        <button type="submit" class="btn btn-danger w-100">{{ _("Delete User") }}</button>
    </div>
    <div class="row">
         <p class="text-muted">
             {{ _("User deletion is a permanent action and cannot be restored.") }}
         </p>
    </div>
  </form>
</div>

{% endblock %}


