{% extends "card.html" %}

{% block card_title %}<i class="bi bi-hdd-stack-fill"></i> {{ _("Disk List") }}{% endblock %}

{% block card_content %}

{% if disks %}
    <table class="table table-striped" id="disk_list">
        <thead>
            <tr>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Model") }}</th>
                <th>{{ _("Size") }}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for disk in disks %}
        <tr>
            <td>{{ disk.name | truncate(8,True) }}</td>
            <td>{{ disk.model }}</td>
            <td>{{ disk.size | human_readable_bytes }}</td>
            <td><span title="{{ disk.status | disk_status_babel }}">{{ disk.status | disk_charm }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pool_options %}
        <dl class="row">
          {% for lbl,status in pool_options.items() %}
          <dt class="col-sm-6">{{ lbl }}:</dt>
          <dd class="col-sm-6">{{ status | enabled_fmt | safe }}</dd>
          {% endfor %}
        </dl>
     {% else %}

        {% set callout_text = _("No disk array configuration found.") ~ " " ~ _("Go to %(disk_mngt)s to configure your disk array.",disk_mngt="<a href=\""|safe~ url_for('main.disk_management') ~"\">"|safe~ _("Disk Management") ~"</a>"|safe) %}
        {% include "callout.warning.html" %}


     {% endif %}

{% else %}
    {% include "warning.no_hdd.html" %}
{% endif %}


{% endblock %}

{% block card_end %}
  <script nonce="{{ csp_nonce }}">
      GlobalRefresher.registerAndRefresh("{{ card_id }}","{{ url_for('main.async_widget_disk_overview') }}");
  </script>
{% endblock %}
