{% extends "index.html" %}

{% block title %}{{ _("Disk Management") }}{% endblock %}

{% block content %}

{% if disks %}
    {% include "disk_mngt.list.html" %}
    {% include "disk_mngt.tools.html" %}


  <script nonce="{{ csp_nonce }}">
    GlobalRefresher.registerAndRefresh("disk-widgets","{{ url_for('main.async_widget_disk_mngt_list') }}");
    GlobalRefresher.register_once("disk-mngt-tools","{{ url_for('main.async_widget_disk_mngt_tools') }}");
  </script>

{% else %}
    {% include "warning.no_hdd.html" %}
{% endif %}

{% endblock %}
