<div class="mt-2 mb-2 row">
    <div class="col-sm-4 col-form-label">{{ label }}</div>
    <div class="col-sm-8">
        <div class="dropdown flex-fill">
          <input id="user_search" name="q" class="form-control w-100" list="user_list-{{ parameter }}" placeholder="{{ _('Type a username...') }}">

           <datalist id="user_list-{{ parameter }}">
               {% for u in users %}
                    <option value="{{ u.username }}">{{ u.visible_name }}</option>
               {% endfor %}
           </datalist>
        </div>
    </div>
</div>